{{page-title "MyOrders"}}
<h1>Préparation de commande</h1>
<div class="ui container">
  <button>Retour au tableau de bord</button><br><br>
  <div class="ui grid">
    <fieldset class="four wide column">
      <legend>Client</legend>
    </fieldset>
    <fieldset class="eleven wide column">
      <legend>Commande</legend>
    </fieldset>
    <fieldset class="fifteen wide column">
      <legend>A préparer</legend>
    </fieldset>
    <fieldset class="fifteen wide column">
      <legend>Avancement</legend>
      <button>Annuler commande</button>
      <button>Commande préparée</button>
    </fieldset>
  </div>
</div>
{{outlet}}